* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
}

:root {
  --clr-light: #ffffff;
  --clr-dark: #202020;
  --clr-blue: #5b38e3;
  --clr-yellow: #f7d046;
  --clr-bg-hover: #23106f;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

li {
  list-style: none;
}

/* Header Styles Start */

header {
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(/Images/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__nav {
  display: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 2rem;
}

.header__nav li a {
  font-weight: 500;
  font-size: 2.1rem;
}

/*
.header__logo {
  font-size: 2.2rem;
  font-weight: 500;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__nav li a {
  font-weight: 500;
  font-size: 2.2rem;
}

.header__nav li {
  margin-right: 4rem;
} */

/* Header Hero Starts */

.header__hero {
  flex-direction: column-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
  position: relative;
}

.hero__left {
  flex-basis: 100%;
}

.hero__left h1 {
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 2.4rem;
  font-weight: 800;
  margin-block: 2rem;
  line-height: 1.4;
}

.hero__left h1 strong {
  font-size: 2.4rem;
  font-weight: 800;
}

.header__hero .hero__left span {
  color: var(--clr-blue);
}

.header__hero .hero__left p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--clr-dark);
  margin-block: 2rem;
}

.right__img {
  width: 200px;
}

.right__img img {
  width: 100%;
}

.hero__btn {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-block: 4rem;
}


.hero__btn #btn2 {
  background: none;
  border: 1px solid var(--clr-dark);
  color: var(--clr-dark);
  font-size: 1.8rem;  
}

/* HeaderHero Side Text Starts */

.hero__sidetext {
  display: none;
}

.hero__sidetext:hover {
  bottom: -2rem;
}

.hero__sidetext p {
  font-weight: 500;
  letter-spacing: 0.6rem;
  writing-mode: vertical-rl;
  font-size: 1.2rem;
}

.hero__sidetext img {
  width: 2.8rem;
  height: 2.8rem;
  /* position: absolute; */
}

/* Header Line Starts */
.hero__line {
  background-color: var(--clr-blue);
  position: relative;
  padding-inline: 2rem;
  margin-top: 2rem;
}

.line1 {
  position: absolute;
  left: 1rem;
  width: 10%;
  height: 0.2rem;
  background: var(--clr-dark);
}

.line2 {
  position: absolute;
  right: 1rem;
  width: 10%;
  height: 0.2rem;
  background: var(--clr-dark);
}

.line__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  width: 180px;
}

.line__img img {
  margin: 0 0.2rem;
  width: 3.8rem;
  transition: 0.2s ease-in-out;
}

.line__img img:hover {
  transform: translateY(0.4rem);
}
