*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: calc(1em + 0.5rem);
}

:root{
   --clr-light:#FFFFFF;
   --clr-dark:#202020;
   --clr-blue:#5B38E3;
   --clr-yellow:#F7D046;
   --clr-bg-hover:#23106f;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: var(--clr-dark);
}

li{
    list-style: none;
}

/* Header Styles Start */

header{
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(/Images/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline:5rem;
    padding-block:4rem;
}

.header__logo{
    font-size: 2.2rem;
    font-weight: 500;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav li a{
    font-weight: 500;
    font-size: 2.2rem;
   padding-right: 4rem;
}


/* Header Hero Starts */

.header__hero{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 2rem; */
    padding-inline:5rem;
    padding-block:8rem;
}

.hero__left {
    flex-basis: 60%;
}

.hero__left h1{
    letter-spacing: 0.5rem;
    font-size: 6rem;
    font-weight: 800;
    margin-block: 4rem;

}

.header__hero .hero__left span{
    color: var(--clr-blue);
}

.header__hero .hero__left p{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--clr-dark);
    margin-block: 5rem;
}

.hero__right{
    flex-basis: 40%;
}


.right__img{
    margin-inline: auto;
    width: 400px;
}

.right__img img{
    width: 100%;
}

.hero__btn{
    display: inline-block;
    margin-block: 4rem;
}

.hero__btn #btn2{
    margin-left: 2.5rem;
    background: none;
    border: 1px solid var(--clr-dark);
    color: var(--clr-dark);
}

