* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* line-height: calc(1em + 0.5rem); */
  line-height: 1.5;
}

:root {
  --clr-light: #ffffff;
  --clr-dark: #202020;
  --clr-blue: #5b38e3;
  --clr-yellow: #f7d046;
  --clr-bg-hover: #23106f;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

li {
  list-style: none;
}

/* Header Styles Start */

header {
  height: auto;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(/Images/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  position: relative;
}

.header__logo {
  font-size: 2rem;
  font-weight: 500;
}

.header__logo a:hover {
  color: var(--clr-blue);
}

.header__nav li a {
  font-weight: 500;
  font-size: 2.1rem;
  position: relative;
}

.mbl__menu {
  width: 30px;
  height: 20px;
  background-image: url("../Images/icon_menu.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.mbl__menu.active {
  z-index: 12;
  background-image: url("../Images/close.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(1);
}

.header__nav {
  display: none;
}

.header__nav.active {
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 10;
  height: 250px;
  width: 100%;
  background-color: var(--clr-blue);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
 
}

.header__nav.active li a {
  color: var(--clr-light);
}

.header__hero {
  flex-direction: column-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__left {
  flex-basis: 100%;
}

.hero__left h1 {
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 2.4rem;
  font-weight: 800;
  margin-block: 2rem;
  line-height: 1.4;
}

.hero__left h1 strong {
  font-size: 2.4rem;
  font-weight: 800;
}

.header__hero .hero__left span {
  color: var(--clr-blue);
}

.header__hero .hero__left p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--clr-dark);
  margin-block: 2rem;
}

.right__img {
  width: 200px;
}

.right__img img {
  width: 100%;
  height: 100%;
}

.hero__btn {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-block: 4rem;
}

.hero__btn #btn1 {
  cursor: pointer;
}

.hero__btn #btn2 {
  background: none;
  border: 1px solid var(--clr-dark);
  color: var(--clr-dark);
  font-size: 1.8rem;
  cursor: pointer;
}

/* HeaderHero Side Text Starts */

.hero__sidetext {
  display: none;
}

.hero__sidetext:hover {
  bottom: -2rem;
}

.hero__sidetext p {
  font-weight: 500;
  letter-spacing: 0.6rem;
  writing-mode: vertical-rl;
  font-size: 1.2rem;
}

.hero__sidetext img {
  width: 2.8rem;
  height: 2.8rem;
  /* position: absolute; */
}

/* Header Line Starts */
.hero__line {
  position: relative;
  padding-inline: 2rem;
  margin-top: 2rem;
  min-height: 40px;
}

.line1 {
  position: absolute;
  left: 1rem;
  width: 10%;
  height: 0.2rem;
  background: var(--clr-dark);
}

.line2 {
  position: absolute;
  right: 1rem;
  width: 10%;
  height: 0.2rem;
  background: var(--clr-dark);
}

.line__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  width: 180px;
}

.line__img img {
  margin: 0 0.2rem;
  width: 3.8rem;
  transition: 0.2s ease-in-out;
  height: 100%;
}

.line__img img:hover {
  transform: translateY(0.4rem);
}

/* About Starts */

.about__me {
  height: auto;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(/Images/image_about_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__text p{
  margin-bottom: 4rem;
}

.section__title {
  /* padding-inline: 2rem; */
  padding-block: 2rem;
  text-align: center;
  color: var(--clr-dark);
  font-size: 2.4rem;
  position: relative;
  font-weight: 600;
}

.section__title::before {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 0.6rem;
  background-color: var(--clr-blue);
  width: 12rem;
}

.about__me .about__text {
  margin-top: 4rem;
  font-size: 1.5rem;
  color: var(--clr-dark);
  text-align:center ;
}

/* My Services */

.servicesheader {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  margin-inline: auto;
  /* background-color: var(--clr-blue); */
  background: linear-gradient(rgba(91, 56, 227, 0.9), rgba(91, 56, 227, 0.9)),
    url(../Images/icons_service_header.gif);
  background-size: 200px;
  background-position: center;
  border-radius: 1.5rem;
  height: 10rem;
}

.servicesheader h2 {
  font-size: 3rem;
  text-align: center;
}

.servicesheader h2 {
  color: var(--clr-light);
}

/* About Experience & Clients */

.experience__clients {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin-inline: auto;
  background-color: var(--clr-blue);
  border-radius: 1.5rem;
  height: 10rem;
  /* position: relative; */
}

.experience__clients::after {
  text-align: center;
  color: var(--clr-light);
  border-radius: 2rem;
  content: "My Services";
  position: absolute;
  bottom: -60px;
  padding-block: 1rem;
  left: 50%;
  translate: -50%;
  background: var(--clr-dark);
  height: 40px;
  width: 30%;
}

.experience__clients .experience {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.experience__clients p {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 500;
}

.experience__clients .experience h2 {
  font-size: 4.5rem;
}

.experience__clients .clients {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.experience__clients .clients h2 {
  font-size: 4.5rem;
}

.experience__clients h2 {
  color: var(--clr-light);
}

/* Services I Offer */

.services__offer {
  margin-top: 6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
}

.services__card {
  background-color: var(--clr-dark);
  height: 300px;
  width: 250px;
  border-radius: 10px;
  transition: 0.1s linear;
  flex-grow: 1;
  margin-bottom: 2rem;
  padding: 1rem;
}

.services__card:hover {
  transform: scale(1.01);
}

.services__card .img__box {
  width: 60px;
  margin-inline: auto;
  min-height: 70px;
}

.services__card .img__box img {
  width: 100%;
  height: 100%;
  filter: invert(1);
}

.services__card .title {
  padding-block: 1rem;
  background-color: var(--clr-blue);
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: var(--clr-light);
}

.services__card .desc p {
  padding: 1rem;
  text-align: center;
  color: var(--clr-light);
}

/* Skills  */

.skills {
  height: auto;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(/Images/image_about_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skills .skills__text {
  margin-top: 4rem;
  font-size: 1.5rem;
  color: var(--clr-dark);
  text-align: center;
}

.skils__content {
  margin-inline: auto;
  margin-top: 6rem;
  margin-bottom: 4rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 4rem;
  justify-content: space-evenly;
}

.skills__card {
  flex-grow: 1;
  height: 200px;
  width: 200px;
  background: var(--clr-dark);
  border-radius: 10px;
}

.skills__card:hover {
  filter: invert(0.1);
  transform: scale(1.02);
}

.skills__card .skills__img {
  margin-top: 1.5rem;
  margin-inline: auto;
  width: 120px;
}

.skills__card .skills__img img {
  width: 100%;
  height: 100%;
}

.skills__desc {
  height: 4rem;
  width: 100%;
}

.skills__desc h4 {
  font-size: 2.5rem;
  color: var(--clr-light);
  text-align: center;
}

/* Projects */

.projects {
  height: auto;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(/Images/image_about_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__text {
  margin-top: 4rem;
  font-size: 1.5rem;
  color: var(--clr-dark);
  text-align: center;
}

.projects__content {
  margin-inline: auto;
  /* max-width: 120rem; */
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  gap: 4rem;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.projects__content .projects__card {
  flex-grow: 1;
  border-radius: 2rem;
  height: 350px;
  width: 280px;
  background: var(--clr-light);
  box-shadow: 0px 10px 20px 11px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.projects__content .projects__card .top {
  padding: 2rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#folder_icon :hover {
  cursor: not-allowed;
}

.projects__content .projects__card .top img {
  width: 30px;
  height: auto;
}

.projects__content .projects__card .side__img img {
  margin-left: 0.5rem;
  transition: 0.01s;
}

.projects__content .projects__card .side__img img:hover {
  transform: rotate(5deg);
  filter: invert(0.5);
}

.projects__content .projects__card .middle__title {
  height: 45px;
}

.projects__content .projects__card .middle__title h4 {
  height: 100%;
  color: var(--clr-light);
  background: var(--clr-blue);
  font-size: 1.8rem;
  padding-inline: 2rem;
  padding-block: 1rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-align: center;
}

.projects__content .projects__card .middle__img {
  margin-inline: auto;
  width: 100%;
  height: 180px;
  transition: 0.1s ease-in-out;
}

.projects__content .projects__card .middle__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__content .projects__card .bottom {
  height: 6rem;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.projects__content .projects__card .bottom p {
  display: inline-block;
  font-weight: 400;
  padding: 0.5rem;
  background: #ebebeb;
  border-radius: 1rem;
}

/* Contact */

.contact {
  background: var(--clr-dark);
  color: var(--clr-light);
}

/* .contact__title{
  color: inherit;
  font-size: 4rem;
  padding: 2rem;
  font-weight: 600;
  text-align: center;
} */

.contact__text {
  margin-top: 4rem;
}

.contact__content {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 1fr;
}

.contact__content .left {
  margin-top: 1rem;
  padding: 2rem;
}

.contact__content .left .left__title {
  font-size: 2.5rem;
}

.contact__content .left .left__title span {
  color: var(--clr-blue);
}

.contact__content .left .contact__text p {
  font-size: 1.8rem;
}

.contact__content .left .contact__text h4 {
  font-size: 2rem;
}

.contact .contact__content .right .contact__form {
  margin-inline: auto;
  padding: 2rem;
  height: 600px;
  width: 300px;
}

.contact .contact__content .right .contact__form label {
  font-size: 1.6rem;
  font-weight: 600;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact .contact__content .right .contact__form input {
  border: transparent;
  background: whitesmoke;
  padding: 1rem;
  width: 100%;
  height: 4rem;
  outline: none;
}

.contact .contact__content .right .contact__form input:focus {
  background: #e0e0e0;
}
.contact .contact__content .right .contact__form textarea:focus {
  background: #e0e0e0;
}

.contact .contact__content .right .contact__form textarea {
  background: whitesmoke;
  border: transparent;
  padding: 1rem;
  width: 100%;
  height: 25rem;
  outline: none;
  resize: none;
}

.contact .contact__content .right .contact__form .sendmsg {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: var(--clr-dark);
  border: none;
  background: whitesmoke;
  width: 100%;
  padding: 2rem;
  cursor: pointer;
  transition: 0.1s ease;
}

.contact .contact__content .right .contact__form .sendmsg:hover {
  color: var(--clr-light);
  background: transparent;
  border: 1.5px solid var(--clr-blue);
  letter-spacing: 0.01rem;
}

/* Footer */

footer {
  background: var(--clr-blue);
}

footer .footer__text {
  color: var(--clr-light);
  /* font-size: 2rem; */
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 1.5rem;
  letter-spacing: 0.1rem;
}

/* Preloader */

.custom-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: var(--clr-dark);
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.preloader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #e4e4ed;
  border-right-color: #766df4;
  animation: preloader 1s infinite ease-in-out;
}

@keyframes preloader {
  to {
    transform: rotate(1turn);
  }
}

/* Custom Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-blue);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-bg-hover);
}


/* ScrollAnimation */
@media(prefers-reduced-motion) {
  .hidden{
    transition: none;
  }
}
.hidden{
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-40%) ;
  transition: all 1s ease-in-out;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0) ;
}

/* Skills Card */
.skils__content:nth-child(2){
  transition-delay: 200ms;
}
.skils__content:nth-child(3){
  transition-delay: 400ms;
}
.skils__content:nth-child(4){
  transition-delay: 600ms;
}
.skils__content:nth-child(5){
  transition-delay: 800ms;
}
.skils__content:nth-child(6){
  transition-delay: 1000ms;
}
.skils__content:nth-child(7){
  transition-delay: 1200ms;
}
.skils__content:nth-child(8){
  transition-delay: 1400ms;
}

/* END */
