/* Button Starts */

.btn {
  border-radius: 1.4rem;
  padding: 2rem;
  font-size: 2rem;
  border: none;
  background: var(--clr-blue);
  color: var(--clr-light);
  transition: 0.2s ease-in-out;
}

.btn:hover {
  color: var(--clr-light);
  background: var(--clr-bg-hover);
  border-radius: 2rem;
}

/* Button Ends*/

/* Main Container */

.container {
  width: 100%;
  margin-inline: auto;
  /* padding-right: 1rem; */
  /* padding-left: 1rem; */
}

/* Main Container */

/* Temporary Classes Starts */

.development__space {
  height: 40vh;
}

.under__construction {
  padding-inline: 5rem;
  width: 100%;
  color: var(--clr-light);
  text-align: center;
  font-size: 2rem;
  background: var(--clr-blue);
  padding: 1rem 0;
  margin-bottom: 2rem;
}

/* Temporary Classes Ends */

/* Media Queries */

/* XS */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
    /* border: 2px solid green; */
  }
}
/* SM */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    /* border: 2px solid red; */
  }
}
/* MD */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    /* border: 2px solid blue; */
  }
}
/* XS */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    /* border: 2px solid yellow; */
  }
}
/* XL */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    /* border: 2px solid firebrick; */
  }
}
/* 2XL */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    /* border: 2px solid hotpink; */
  }
}
