/* Button Starts */

.btn {
  border-radius: 1.4rem;
  padding: 2rem;
  font-size: 2rem;
  border: none;
  background: var(--clr-blue);
  color: var(--clr-light);
  transition: 0.2s ease-in-out;
}

.btn:hover {
  color: var(--clr-light);
  background: var(--clr-bg-hover);
  border-radius: 2rem;
}

/* Button Ends*/

/* Main Container */

.container {
  width: 100%;
  margin-inline: auto;
  /* padding-right: 1rem; */
  /* padding-left: 1rem; */
}

/* Main Container */


